@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;
    color: #47452E;
}

.navbar-brand:hover {
    color: #47452E90;
}
body{
background-color: rgb(238, 238, 238);
}